.array-container {
  position: absolute;
  top:10%;
  left:15%;
  right:3%;
  height: 70%;
  padding-top:10%;
  /* background-color: blue; */

 
  /* background-color: red; */
  /* top: 100px; */
}

.array-bar {
  display: inline-block;
  /* margin: 0 1px; */
}
